/* A simple site style: no margins, plain header and footer, two columns. */

/* The window as a whole. */

body {
  background-color: #E0E0E0;
  padding-top: 0;
  padding-left: 0em;
  padding-right: 0em;
  padding-bottom: 0;
  margin: auto;
  min-width: 480px;
  /*max-width: 1500px;*/
  color: #D0D0D0;
}

div.container{
  background-color: #464646;
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  padding: 0px;
}

/* The header and footer. */
header {
  background-color: #565656;
  border-radius: 25px 25px 0px 0px;
  margin: 0px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 5px;
  width: 100% -60px;
  clear: both;
}

footer {
  background-color: #565656;
  border-radius: 0px 0px 25px 25px;
  margin: 0px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 0px;
  width: 100% -60px;
  clear: both;
}

#map {
   /*background-color: #FF0000;*/
   height: 500px;
   width: 100%;
   padding: 0px;
   margin: 0px;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

/* The left and right columns. */
section.left, section.right {
    width: 44%;
    text-align: justify;
}

section.left {
  float: left;
  margin: 0 2% 0 4%;
}

section.right {
  float: right;
  margin: 0 4% 0 2%;
}

h1 {
   margin: 0px;
}

p {
   margin: 0px;
}

/* The content. */

.indent {
  margin-left: 20px;
}
