body {
   background-image: url("/images/background.jpg");
   background-size: cover;
}

#centerDiv{
   text-align: center;
}

#content{
   display: inline-block;
   text-align: center;
   padding: 14px;
   margin: 15px;
   box-sizing: border-box;
   background-color: rgb(240,240,240);
   border-radius: 5px;
   box-shadow: 2px 2px 5px grey;
}

#searchbox{
   margin: auto;
}

#fullWidthInput{
   box-sizing: border-box;
   width: 304px;
}

#halfWidthInput{
   box-sizing: border-box;
   width: 150px;
}
