/* A simple site style: no margins, plain header and footer, two columns. */

/* The window as a whole. */

body {
  background-color: #E0E0E0;
  padding-top: 0;
  padding-left: 0em;
  padding-right: 0em;
  padding-bottom: 0;
  margin: auto;
  min-width: 640px;
  max-width: 1200px;
  color: #D0D0D0;
}

div.container{
  background-color: #464646;
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey;
  margin: auto;
  margin-top: 10px;
  width: 80%
}

/* The header and footer. */
div.header {
  background-color: #565656;
  border-radius: 25px 25px 0px 0px;
  padding-right: 30px;
  padding-left: 30px;
  width: 100% -60px;
  clear: both;
}

div.footer {
  background-color: #565656;
  border-radius: 0px 0px 25px 25px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 0px;
  width: 100% -60px;
  clear: both;
}

/* The left and right columns. */
section.left, section.right {
    width: 44%;
    text-align: justify;
}

section.left {
  float: left;
  margin: 0 2% 0 4%;
}

section.right {
  float: right;
  margin: 0 4% 0 2%;
}

/* The content. */

.indent {
  margin-left: 20px;
}
